# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# Flask
instance/
.webassets-cache

# SQLite database
*.db

# Node
node_modules/

# Build files
build/
dist/

# Environment variables
.env

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
