.personnel-list {
    list-style-type: none;
    padding: 0;
}

.personnel-item {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-group {
    display: flex;
    gap: 10px;
}

.edit-button, .delete-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.edit-button:hover, .delete-button:hover {
    opacity: 0.7;
}

.personnel-form {
    display: flex;
    margin-bottom: 20px;
}

.personnel-input {
    width: 200px; /* Set a shorter width for the input box */
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.add-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
}

.add-button:hover {
    background-color: #45a049;
}

.error-message {
    color: red;
    margin-top: 10px;
}

.personnel-edit-input {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: auto; /* Adjust width as needed */
    font-size: inherit; /* Ensure it inherits the font size from the parent */
}

.role-select {
    font-size: 16px; /* Adjust the font size as needed */
}